<style type="text/css" media="screen">
    .spinner {
      margin: 100px auto;
      width: 50px;
      height: 50px;
      position: relative;
    }

    .cube1, .cube2 {
      background-color: #3ca2e0;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      
      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out;
    }

    .cube2 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    @-webkit-keyframes sk-cubemove {
      25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
      50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
      75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
      100% { -webkit-transform: rotate(-360deg) }
    }

    @keyframes sk-cubemove {
      25% { 
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
      } 50% { 
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% { 
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      } 75% { 
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      } 100% { 
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
      }
    }
    </style><div class="dashboard-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="text-center">
                    <h2 class="brand">Ani Theme <small>Free Edition</small></h2>
                    <img src="images/flat-avatar.png" class="user-avatar" />
                    <br />
                    <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
                </div>
                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('stores')}"><a class="nav-sidebar-a" ui-sref="stores">Stores <span class="sr-only">(current)</span></a></li>
                    <li ng-class="{active: $state.includes('coupons')}"><a class="nav-sidebar-a" ui-sref="coupons">Coupons</a></li>
                    <li ng-class="{active: $state.includes('reports')}"><a class="nav-sidebar-a" ui-sref="reports">Reports</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
            </div>
        </div>
    </div>
</div>
