<div>
    <a ui-sref="overview" class="pull-right btn btn-success btn-outline btn-rounded" ng-click="open(coupon);">Add New Coupon</a>
    <h2>Coupouns <small>Place to show all the special deals you offer.</small></h2>
</div>
<hr/>
<div class="row">
    <div ng-hide="coupons.length>-1" class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="c in coupons | filter:filterStore | orderBy:['name']">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{c.title}}</h3>
                <!-- Nav tabs -->
            </div>
            <div class="panel-body">
                <br>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <td><strong> Description</strong></td>
                                <td>{{c.description}}</td>
                            </tr>
                            <tr>
                                <td><strong> Category</strong></td1>
                                    <td>{{c.type}}</td>
                            </tr>
                            <tr>
                            <td>Status</td>
                                <td><a type="button" class="btn" ng-click="changeCouponStatus(c);">{{c.status}} </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </div>
                <a type="button" class="btn btn-danger  pull-right  btn-lg fa fa-edit btn-outline btn-rounded" ng-click="deleteCoupon(c);"> Delete </a>
                <a type="button" class="btn btn-success btn-lg  pull-right fa fa-edit btn-outline btn-rounded" ng-click="open(c);"> Edit </a>
            </div>
        </div>
    </div>
</div>
