<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">Edit coupon [ID: {{coupon.id}}]</h3>
</div>
<div class="modal-body">
    <form name="coupon_form" class="form-horizontal" role="form" novalidate>
        <form-element label=" TITLE" mod="coupon">
            <input type="text" class="form-control" name="title" placeholder="Title" ng-model="coupon.title" focus/>
        </form-element>
        <form-element label=" DESCRIPTION" mod="coupon">
            <input type="text" class="form-control" name="description" placeholder="Description" ng-model="coupon.description" focus/>
        </form-element>
        <form-element label=" CATEGORY" mod="coupon">
            <input type="text" class="form-control" name="category" placeholder="Category" ng-model="coupon.type" focus/>
        </form-element>
        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm btn-primary btn-outline btn-rounded" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="savecoupon(coupon);" ng-disabled="coupon_form.$invalid || enableUpdate"  class="btn btn-sm btn-success btn-outline btn-rounded" type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>
